ion-label{
  font-weight: 900;
  margin-bottom: 15px;
}
ion-note{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;

}

ion-item-options{
  width: 20%;
}
ion-item-option{
  width: 20%;
}

.icon-trash{
  height: 30px;
  width: 100%;
}
