<ion-list>
  <ion-item-sliding>
    <ion-item (click)="accessToMessage('Sadok')">
        <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Sadok</ion-label>
        <ion-note><ion-icon name="return-left"></ion-icon>  Viens par la je te niquer mon pote, tu vas ...</ion-note>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="fightHim()">Figth</ion-item-option>
    </ion-item-options>
      <ion-item-options side="end">
          <ion-item-option (click)="trash($event)"><ion-icon name="trash"></ion-icon>   </ion-item-option>
      </ion-item-options>
  </ion-item-sliding>

    <ion-item-sliding>
        <ion-item (click)="accessToMessage( 'Ducbooba')">
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Duc Booba</ion-label>
            <ion-note><ion-icon name="return-left"></ion-icon>  Jfais du karameeel, j'ai fais des chos...</ion-note>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option color="danger" (click)="fightHim()">Figth</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-item-option (click)="trash($event)"><ion-icon name="trash"></ion-icon>   </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item (click)="accessToMessage('LeRajeuKevin')">
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Le Rajeu Kevin</ion-label>
            <ion-note><ion-icon name="return-left"></ion-icon>  Viens par la on stape je viens d'avoir le ...</ion-note>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option color="danger" (click)="fightHim()">Figth</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-item-option (click)="trash($event)"><ion-icon name="trash"></ion-icon>   </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item (click)="accessToMessage('SadokVNR')">
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Sadok Le VNR</ion-label>
            <ion-note><ion-icon name="return-left"></ion-icon>  Tu vas fais teaser batard, jvé te fumé tu...</ion-note>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option color="danger" (click)="fightHim()">Figth</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-item-option (click)="trash($event)"><ion-icon name="trash"></ion-icon>   </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item (click)="accessToMessage('Chiquita')" >
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>El chiquita</ion-label>
            <ion-note><ion-icon name="return-left"></ion-icon>  Viens par la je te niquer mon pote, tu vas ...</ion-note>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option color="danger" (click)="fightHim()">Figth</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-item-option (click)="trash($event)"><ion-icon name="trash"></ion-icon>   </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>


</ion-list>