#myOpponent{
  position: absolute;
  right: 18%;
  font-size: 11px;

}

#me{
  position: absolute;
  left: 0%;
  font-size: 11px;
}

#vs{
  position: absolute;
  left: 35%;
  font-size: 11px;
}

#createAt {
  position: absolute;
  left: 22%;
  font-size: 11px;
}

.vclass{
  border-left: solid 5px #66BB6A;
  background-color: rgba(102, 187, 106, 0.486);
}
.dclass{
  border-left: solid 5px rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.295);
}
ion-note, ion-label{

  font-weight: 900;
  }
