<app-header></app-header>

<ion-content class="profil">
  <div class="ion-text-center">
    <img class="circle-pic" src="../../assets/img/user/booba-.jpg">
    <ion-title>{{name}} {{surname}}, {{birth}} ans</ion-title>
  </div>
  <br/>

  <ion-grid id="infos" class="ion-align-items-start">
    <ion-row>
      <ion-col size="3">Nationalité : </ion-col>
      <ion-col>{{nationality}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Ville : </ion-col>
      <ion-col>{{city}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Pseudo : </ion-col>
      <ion-col>{{pseudo}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Taille : </ion-col>
      <ion-col>{{size}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Poids : </ion-col>
      <ion-col>{{weight}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Etudes : </ion-col>
      <ion-col>{{studies}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Punchline : </ion-col>
      <ion-col>{{punchline}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-toolbar class="profil">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button shape="round" size="large" class="bottom-buttons marginBot" (click)="option()">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button shape="round" size="large" class="bottom-buttons marginTop" (click)="toast('prendre une photo')">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button shape="round" size="large" class="bottom-buttons marginBot" (click)="edition()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<!-- Bouton Options -->

<ion-content class="option">

  <ion-list>
    <ion-item>
      <ion-label>En oral d'IHM</ion-label>
      <ion-toggle checked disabled="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Maximisé la note d'IHM</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Corruption</ion-label>
      <ion-toggle [(ngModel)]="sausage" disabled="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Mode nuit</ion-label>
      <ion-toggle id="toggle" [(ngModel)]="forFun" (ionChange)="forFunFunc()"></ion-toggle>
    </ion-item>
      
    <ion-button expand="block" fill="outline" color="danger" (click)="presentAlertConfirm()">Déconnexion</ion-button>
  </ion-list>
</ion-content>

<ion-toolbar class="option">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button shape="round" size="large" class="bottom-buttons" (click)=option()> 
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<!-- Bouton Edition -->

<ion-content class="edit">
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input #esurname type="text" value={{surname}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input #ename type="text" value={{name}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nationalité</ion-label>
    <ion-input #enationality type="text" value={{nationality}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ville</ion-label>
    <ion-input #ecity type="text" value={{city}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pays</ion-label>
    <ion-input #ecountry type="text" value={{country}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pseudo</ion-label>
    <ion-input #epseudo type="text" value={{pseudo}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Taille</ion-label>
    <ion-input #esize type="number" min="100" value={{size}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Poids</ion-label>
    <ion-input #eweight type="number" min="50" value={{weight}}></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="floating">Etudes</ion-label>
    <ion-input #estudies type="text" value={{studies}}></ion-input>
  </ion-item>  
  <ion-item>
    <ion-label position="floating">Punchline</ion-label>
    <ion-input #epunchline type="text" value={{punchline}}></ion-input>
  </ion-item>  
</ion-content>

<ion-toolbar class="edit">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-button shape="round" size="large" class="bottom-buttons" 
          (click)="editProfil(esurname.value, ename.value, enationality.value, ecity.value, ecountry.value, epseudo.value, esize.value, eweight.value, estudies.value, epunchline.value)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>