<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title style="text-align: center;">Fiche de Combat</ion-title>
     
    </ion-buttons>
  </ion-toolbar>   
</ion-header>

<ion-content>
  
  <ion-item class="vs" lines="full" (click)="testClick()">
    <ion-thumbnail slot="start">  
      <img class="img-start" src="../../../assets/img/user/kevin.jpg">
    </ion-thumbnail>
    <img class="middle" src="../../../assets/img/Vs.png" height="100">
    <ion-thumbnail slot="end">
      <img class="img-end" src="../../../assets/img/user/booba-.jpg">
    </ion-thumbnail>
  </ion-item>



  <ion-grid class="info">
    <ion-row>
      <ion-col class="start" size="3">
        Start
      </ion-col>
      <ion-col>
        Age
      </ion-col>
      <ion-col class="end" size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="info">
    <ion-row>
      <ion-col class="start" size="3">
        Start
      </ion-col>
      <ion-col>
        Taille  
      </ion-col>
      <ion-col class="end" size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="info">
    <ion-row>
      <ion-col class="start" size="3">
        Start
      </ion-col>
      <ion-col>
        Poids
      </ion-col>
      <ion-col class="end" size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="info">
    <ion-row>
      <ion-col class="start" size="3">
        Start
      </ion-col>
      <ion-col>
        Honnor
      </ion-col>
      <ion-col class="end" size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
