<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item class="vs" lines="full" (click)="testClick()">
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <img class="middle" src="../../../assets/img/Vs.png" height="100">
    <ion-thumbnail slot="end">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
  </ion-item>



  <ion-grid class="info">
    <ion-row>
      <ion-col size="3">
        Start
      </ion-col>
      <ion-col>
        Age
      </ion-col>
      <ion-col size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="info">
    <ion-row>
      <ion-col size="3">
        Start
      </ion-col>
      <ion-col>
        Taille  
      </ion-col>
      <ion-col size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="info">
    <ion-row>
      <ion-col size="3">
        Start
      </ion-col>
      <ion-col>
        Poids
      </ion-col>
      <ion-col size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="info">
    <ion-row>
      <ion-col size="3">
        Start
      </ion-col>
      <ion-col>
        Honnor
      </ion-col>
      <ion-col size="3">
        End
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
